        <div class = "bootstrap-wrapper">
            <div class = "container">
                <div class = "row" style="margin-top: 20px;">
                    <div class = "col-md-6 offset-md-3">
                        <div class = "container text-center">
                            <img src="../../../assets/icon-person.png" width="100" height="100" >
                        </div>

                        <h1 class="text-center">Registrate aquí</h1>

                        <div class="container text-center">
                            <form (ngSubmit) = "formSubmit()">
                                <div class="col-md-8">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Nombre de usuario</mat-label>
                                    <input required [(ngModel)] = "user.nombre" name = "nombre" matInput placeholder="Digite su nombre de usuario">
                                    <mat-hint>El nombre de usuario debe ser unico</mat-hint>
                                </mat-form-field>
                                </div>

                                <div class="col-md-8">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Correo personal</mat-label>
                                    <input required [(ngModel)] = "user.correo" name = "correo" matInput placeholder="Digite su correo personal">
                                </mat-form-field>
                                </div>

                                <div class="col-md-8">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Contraseña</mat-label>
                                    <input required [(ngModel)] = "user.contrasena" name = "contrasena" type="password" matInput placeholder="Digite su contraseña">
                                </mat-form-field>
                                </div>

                                <div class="col-md-8">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Celular personal</mat-label>
                                    <input required [(ngModel)] = "user.celular" name = "celular" matInput placeholder="Digite su número de celular">
                                </mat-form-field>
                                </div>

                                <div class="col-md-12">
                                <div class="text-center">
                                    <button mat-raised-button color="primary">Registrar</button>
                                    <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Limpiar</button>
                                </div>
                                </div>
                            </form>
                            <br><br><br>
                        </div>

                    

                    </div>
                </div>
            </div>
        </div>
